# systemd service file for nscd

[Unit]
Description=Name Service Cache Daemon

[Service]
Type=forking
ExecStart=/data/data/com.termux/files/usr/sbin/nscd
ExecStop=/data/data/com.termux/files/usr/sbin/nscd --shutdown
ExecReload=/data/data/com.termux/files/usr/sbin/nscd -i passwd
ExecReload=/data/data/com.termux/files/usr/sbin/nscd -i group
ExecReload=/data/data/com.termux/files/usr/sbin/nscd -i hosts
ExecReload=/data/data/com.termux/files/usr/sbin/nscd -i services
ExecReload=/data/data/com.termux/files/usr/sbin/nscd -i netgroup
Restart=always
PIDFile=/data/data/com.termux/files/run/nscd/nscd.pid

[Install]
WantedBy=multi-user.target
